/* ==== BASE ==== */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ==== HEADER ==== */
header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}

/* Texto debajo del título */
.subtitulo {
    padding: 15px;
    text-align: center;
    border: 1px solid black;
    margin: 20px;
    margin-bottom: 0;
}

/* ==== CONTENEDOR DE PÁGINA ==== */
.pagina {
    display: flex;             /* flex para alinear menú y main al lado */
    gap: 20px;                 /* espacio entre menú y contenido */
    margin: 20px;
    flex: 1;
}

/* ==== MENU LATERAL ==== */
.menu-lateral {
    width: 220px;
    border: 1px solid black;
    height: 50vh;             /* altura fija si quieres */
    padding: 0px;
}

/* ==== CONTENEDOR PRINCIPAL ==== */
main.contenedor-principal {
    flex: 1;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;           /* permite que varios proyectos bajen si no caben */
    padding:0;
    margin-left: 50px;
    margin-right:150px;
}

/* ==== BLOQUES DE PROYECTO ==== */
.project {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 50vh;
    max-height: 50vh;
    flex: 1;
    border: 1px solid black;
}

.titleProject {
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

.contenidoProject {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.img, .item {
    padding: 20px;
    text-align: center;
    width: 45%;
    border: 1px solid black;
}

/* ==== FOOTER ==== */
footer {
    padding: 15px;
    text-align: center;
    margin-top: auto;
    border: 1px solid black;
    height: 10vh;
}
